**Q1.How do you comment code in Python? What are the different types of comments?**

*There are two type of comments*
1. Single Line Comment

In [1]:
#Hi This is a single line comment

2. Multiline Comment

In [4]:
"""
Hi This is a multiline comment
"""
print("Hi")

Hi

**Q2. What are variables in Python? How do you declare and assign values to variables?**

*Variables are like are like a container where data is stored. We can use this variable for accessing the value and also perform operation on this variable*

*Syntax for declare and assigning value*
*variable_name = 1*

*Upper line is used to assign 1 in the variable_name*

**Q3. How do you convert one data type to another in Python?**

*We need to use the data type functions like list(),set(),int(),str() etc.*

***Example:***

In [6]:
a = 5

In [7]:
print(type(a))

<class 'int'>

In [10]:
a=str(a)

In [11]:
print(type(a))

<class 'str'>

**Q4. How do you write and execute a Python script from the command line?**

*The command is : ***python script.py*** in windows if only one version of python is installed in the system.*

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [13]:
my_list = [1, 2, 3, 4, 5]

In [14]:
my_list[1:3]

[2, 3]

**Q6. What is a complex number in mathematics, and how is it represented in Python?**

*This is no-thing but a imaginary number*

***Example:***

*5+6i --> Here i denotes square root(-1)*

In [16]:
complex_number = 5 + 6j

In [17]:
complex_number

(5+6j)

In [18]:
type(complex_number)

complex

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

*Correct way for assigning*

In [19]:
age = 25

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?**

In [21]:
price = 9.99

In [22]:
type(price)

float

*The data type is float.*

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?**

In [24]:
name = "Avijit Haldar"
print(name)

Avijit Haldar

**Q10. Given the string "Hello, World!", extract the substring "World".**

In [25]:
string_a = "Hello, World!"

In [26]:
string_a[7:len(string_a)-1]

'World'

**Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.**

In [28]:
is_student = False
if is_student:
    print("Cool !You are a student")
else:
    print("Cool !You are not a student")

Cool !You are not a student