In [2]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
a_string = "Avijit"
a_list = [1,2,3,4]
a_float = 2.56
a_tuple = (92,3,4)
print(type(a_string),type(a_list),type(a_float),type(a_tuple))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [3]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

In [4]:
# Q3. Explain the use of the following operators using an example:
# (i) /-Arithmetic Operator for division
# (ii) %-Arithmetic operator for Remainder
# (iii) //-Artihmetic operator for floor divison
# (iv) **-Multi line comment

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
a = [1,1.3,"String",5,6,7,8,9,10,7.8]
print(len(a))
for i in a:
    print(i)

10
1
1.3
String
5
6
7
8
9
10
7.8

In [11]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

a = int(input())
b = int(input())
total = 0
while a%b == 0:
    total = total + 1
    a = int(a/b)
    # total = total + 1
print(total)

 100
 2

2

In [1]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
l = list(range(25))
print(l)
for i in l:
    if i%3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i," is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3 is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6 is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9 is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12 is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15 is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18 is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21 is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24 is divisible by 3

In [6]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
#mutuable
l = [1,2,3,4,"HI"]
print(l)
l[2] = "HEY" #not give error
print(l)

#imutable
s = "HI"
s[1] ="A" # give error

[1, 2, 3, 4, 'HI']
[1, 2, 'HEY', 4, 'HI']

TypeError: 'str' object does not support item assignment